html,
body,p {
  margin: 0;
  padding: 0;
}
body{
	background: #000116;
}
*,*::before,*::after{
	box-sizing: border-box;
}
body{
	font-size:14px;
	font-family: Arial, 苹方, 微软雅黑;
}
.clearfix:after{
	content:'';
	display: table;
	clear: both;
}
